h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    padding: 20px;
    background: linear-gradient(gray, orange);
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
}