/* Общие стили */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #333;
    color: #fff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Шапка сайта */
header {
    background-color: #ffa500;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 18px;
    padding-left: 18px;
    background-color: #946102;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    /* border: 2px solid #fff; */
    border-radius: 4px;
    display: block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #fff;
    color: #ffa500;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffa500;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1;
}

.dropdown-menu a {
    color: #fff;
    padding: 8px 12px;
    margin: 10px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #fff;
    color: #ffa500;
}

nav li:hover .dropdown-menu {
    display: block;
}

/* Основной контент */
main {
    padding: 20px;
    flex: 1;
    max-width: 960px;
    margin: 0 auto;
}

/* Футер */
footer {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

/* Бургер-меню и адаптивность */
.burger-menu {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
}

/* Изначально скрываем .dropdown-mobile на всех устройствах */
.dropdown-mobile {
    display: none;
}

@media (max-width: 768px) {
    nav {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #ba7f11; /*#ffa500*/
        text-align: center;
        z-index: 10;
    }

    nav a {
        border: 2px solid white;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

   nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }

    main {
        max-width: 100%;
    }

    .burger-menu {
        display: block;
    }

    /* Включаем отображение .dropdown-mobile только на мобильных */
    .dropdown-mobile {
        display: none;
        text-align: center; /* Выравнивание по центру */
        padding: 10px 0; /* Отступы сверху и снизу */
    }

    .dropdown-mobile a {
        display: block;
        padding: 5px;
        margin: 10px;
        text-decoration: none;
        color: #fff;
    }

    .dropbtn {
        display: block;
    }


/*Скрываем выпадающее меню по умолчанию на мобильных устройствах*/
nav li:hover .dropdown-menu {
    display: none;
}

/*Показывать выпадающее меню при наличии класса 'active'*/
li.active > .dropdown-mobile {
    display: block;
}

 /*Поменяем стили чтобы выпадающее меню выглядело иначе*/
.dropdown-menu {
    position: static;
    display: none;
    background-color: transparent;
    padding: 0px;
}


}
.show-nav {
    display: block;
}