@import 'vars';
@import 'mixins';

body {
    font-family: 'latoblack';
}

.header {
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    @extend %flex;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 41px;
    @extend %flex;
}

a {
    text-decoration: none;
}

.top-head__heading {
    font-family: 'latoblack';
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
    line-height: 17px;
    color: #ff3881;
}

.breadcrumbs__link {
    font-style: normal;
    font-weight: 400;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.top-head {
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumbs {
    .link {
        font-family: 'latoblack';
        font-weight: normal;
        color: gray;
    }
}

.product {
    width: $thirdSite;
    font-family: 'latoblack';
    padding-top: 15px;

    &__img {
        width: 335px;
        padding-top: 15px;
    }

    &__content {
        background-color: #f8f3f4;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: 'latolight';
    }

    &__name {
        font-family: 'latoblack';
        color: $nameColor;
    }

    &__price {
        font-family: 'latoblack';
        color: $priceColor;
    }

    &__text {
        color: $textColor;
    }
    
}

.product-box {
    @include centerFlex();
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

.link:hover {
    color: #000;
}

