@import 'vars';
@import 'mixins';

body {
    font-family: 'latoblack';
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.header {
    position: relative;
    background-color: $backBlock;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
        @extend %flex;
    }

    &__right {
        color: #fff;
    }

    .burger-menu-icon {
        &__line {
            background: #fff;
            width: 20px;
            height: 2px;
            margin: 6px 0;
        }
    }
}



.nav {
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 75px;
    right: 0px;
}

a {
    text-decoration: none;
}

.breadcrumbs__link {
    font-style: normal;
    font-weight: 400;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.top-head {
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        font-family: 'latoblack';
        font-style: normal;
        font-weight: bolder;
        font-size: 25px;
        line-height: 17px;
        color: #ff3881;
        padding-left: 30px;
    }
}

.breadcrumbs {
    
    .link {
        font-family: 'latoblack';
        font-weight: normal;
        color: gray;
    }
}

.products {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.product {
    width: 350px;
    font-family: 'latoblack';
    padding-top: 15px;

    &__img {
        width: 350px;
        padding-top: 15px;
    }

    &__content {
        background-color: #f8f3f4;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: 'latolight';
    }

    &__name {
        font-family: 'latoblack';
        color: $nameColor;
    }

    &__price {
        font-family: 'latoblack';
        color: $priceColor;
    }

    &__text {
        color: $textColor;
    }
    
}

.product-box {
    @include centerFlex();
    gap: $gapGrid;
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

.link:hover {
    color: #000;
}

.filter {
    padding-top: 13px;
    width: 300px;
    position: relative;
    top: -6px;
    box-sizing: border-box;
    z-index: 10;
    left: 40px;

    &__content {
        background-color: #fff;
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    &[open] {
        background: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.25);
    }

    &[open] .filter__heading{
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        /*line-height: 17;*/
        color: $textColor;
    }

    &__item {
        margin: 16px;
    }

    &__heading_item {
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        /*line-height: 17;*/
        color: #6f6e6e;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #ebebeb;
        border-left: 5px solid $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 16px;
        padding-right: 16px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
        &:hover {
            color: $colorSelectSite;
        }
    }

    &__item[open] .filter__heading_item {
        color: $colorSelectSite;

    }
}

.sort {
    display: flex;
    gap: 30px;
    padding-top: 12px;
    padding-left: 30px;

    &__details {
        position: relative;
    }

    &__heading {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #6f6e6e;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
    }

    &__check {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        color: #6f6e6e;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.25);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
    }
}

.filter-sort {
    display: flex;
    height: 132px;
    position: relative;
    padding-top: 39px;
    box-sizing: border-box;
    gap: $gapGrid;
}



